* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: black;
    color: #e0e0e0;
    transition: background-color 0.5s, color 0.5s;
}

.main-body {
    display: flex;
}

.nav{
    font-family: Calibri;
    top: 0;
    width: 100%;
    margin: 0;
    background-color: black;
    padding: 20px;
}
.nav .logo{
    position: relative;
    color: #000;
    font-size: 20px;
}
.nav img{
    position: relative;
    width: 60px;
    left: 1150%;
}
.logo {
    transition: 1s ease;
}
.logo:hover {
    transition: ease 1s;
    transform: translate(-5%,-5%);
}

.sidebar {
    width: 250px;
    background-color: #252525;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.main-content {
    flex: 1;
    background-color: black;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    transition: background-color 0.5s;
}

.overview {
    padding: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #424242;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    width: 30%;
    color: #e0e0e0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    background-color: #2c2c2c;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}