* {
    padding: 0;
    margin: 0;
}
.toast {
    margin: 20px;
    font-size: 10px;
}
.grid {
    display: grid;
    grid-template-columns: 20% 78% 30px;
}
.toast-container {
    background-color: rgba(21,24,43,255);
    border-radius: 10px;
    width: 35%;
    padding-bottom: 10px;
}
.toast-container .icon {
    color: rgba(63,181,86,255);
    padding: 10px;
    margin-top: 2px;
    font-size: 35px;
}
.toast-container h5 {
    color: rgba(63,181,86,255);
    padding-top: 15px;
    font-size: 6px;
}
.toast-container p {
    color: rgba(105,118,134,255);
    margin-top: 10px;
    font-size: 4px;
}
.toast-container .close-btn {
    padding-top: 22px;
    padding-right: 20px;
    color: rgba(144,156,166,255);
    font-size: 25px;
    cursor: pointer;
}